@font-face {
    font-family: 'HandDrawnShapes';
    font-style: normal;
    font-weight: normal;
    src: url(font/HandDrawnShapes.woff);
}

:root {
    --white: #ffffff;
    --black: #000000;
    --dark-brown: #4e342e;
    --blue: #90caf9;
    --light-blue: #bbdefb;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'HandDrawnShapes', sans-serif;
    color: var(--white);
    background-color: var(--blue);
    width: 100%;
    height: 100vh;
}

.content {
    z-index: 3;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.content .header {
    padding: 2em;
    padding-bottom: 0 !important;
    max-width: 1164px;
    margin: auto;
}

.content .header h1 {
    font-size: 50px;
}

.content .main {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2);
    max-width: 1164px;
    margin: auto;
    row-gap: 1em;
}

.main [type=radio] {
    display: none;
}

.main label {
    text-align: center;
    padding: 1em;
    z-index: 5;
}

.main label:hover {
    /*background-color: rgba(255, 225, 255, 0.3);*/
    /*border-radius: 10px;*/
    cursor: pointer;
    animation: bounce 0.7s infinite;
}

.item-content {
    opacity: 0;
    transition: ease-in-out;
}

#state-1:checked ~ div:nth-of-type(2) {
    opacity: 1;
}

#state-2:checked ~ div:nth-of-type(3) {
    opacity: 1;
}

#state-3:checked ~ div:nth-of-type(4) {
    opacity: 1;
}

#state-4:checked ~ div:nth-of-type(5) {
    opacity: 1;
}

#state-5:checked ~ div:nth-of-type(6) {
    opacity: 1;
}

.main label:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

.main label:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
}

.main label:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
}

.main label:nth-of-type(4) {
    grid-column: 4;
    grid-row: 1;
}

.main label:nth-of-type(5) {
    grid-column: 5;
    grid-row: 1;
}

.menu-img {
    width: 50px;
    height: auto;
    filter:drop-shadow(1px 1px 0 var(--white)) drop-shadow(-1px -1px 0 var(--white));
}

.menu-title {
    display: block;
}

.sushi-table {
    grid-column: 1 / 6;
    grid-row: 1;
    background-image: url("../img/wood.jpg");
    border-radius: 10px;
    border: 5px solid var(--dark-brown);
    opacity: 0.8;
}

.content-table {
    grid-column: 1 / 6;
    grid-row: 2;
    background-image: url("../img/wood.jpg");
    border-radius: 10px;
    border: 5px solid var(--dark-brown);
    opacity: 0.8;
}

.item-content {
    padding: 2em;
    grid-column: 1 / 6;
    grid-row: 2;
    z-index: 5;
    /*height: 50vh;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    grid-gap: 1em;
}

.item-img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 400px;
    width: auto;
    margin: auto;
    filter:drop-shadow(3px 3px 0 var(--white)) drop-shadow(-3px -3px 0 var(--white));
}

.item-text {
    grid-column: 2 / 3;
    grid-row: 1;
}

.item-title {
    font-size: 3em;
}

.item-description {
    font-size: 1.5em;
    font-weight: lighter;
    padding-bottom: 1em;
}

.item-price {
    font-size: 3em;
}

/* Animated background */
.rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
}

.rain li {
    position: absolute;
    display: block;
    list-style: none;
    top: -150px;
}

.sushi-drop {
    width: 50px;
    height: auto;
}

#make-rain:checked ~ .rain li {
    animation: animate 25s linear infinite;
}

#make-rain:checked ~ .rain li:nth-child(1) {
    left: 25%;
}

#make-rain:checked ~ .rain li:nth-child(2) {
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}

#make-rain:checked ~ .rain li:nth-child(3) {
    left: 70%;
    animation-delay: 4s;
}

#make-rain:checked ~ .rain li:nth-child(4) {
    left: 40%;
    animation-duration: 18s;
}

#make-rain:checked ~ .rain li:nth-child(5) {
    left: 65%;
}

#make-rain:checked ~ .rain li:nth-child(6) {
    left: 75%;
    animation-delay: 3s;
}

#make-rain:checked ~ .rain li:nth-child(7) {
    left: 35%;
    animation-delay: 7s;
}

#make-rain:checked ~ .rain li:nth-child(8) {
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}

#make-rain:checked ~ .rain li:nth-child(9) {
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}

#make-rain:checked ~ .rain li:nth-child(10) {
    left: 85%;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(calc(100vh + 150px)) rotate(720deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        transform: scaleX(1.4);
        transform: scaleY(0.85);
    }
    15% {
        transform: scaleX(1);
        transform: scaleY(1);
    }
    25% {
        transform: translateY(-10px)
    }
    50% {
        transform: translateY(-25px);
    }
    85% {
        transform: scaleX(1);
        transform: scaleY(1);
    }
    100% {
        transform: translateY(0);
        transform: scaleX(1.4);
        transform: scaleY(0.85);
    }
}